<li>
  <%= link_to question.body, question_path(question) %><br>
  <%= button_to 'Редактировать', edit_question_path(question), method: :get %>
  <%= button_to 'Удалить', question_path(question), method: :delete %><br>
</li>
 