<div style="text-align: center">
  <h1>Об этом приложении</h1>
  <p>
    Это приложение является учебным материалом от онлайн школы
    <a
      href="https://thinknetica.com"
      target="_blank"
      rel="nofollow, noopener"
      >Thinknetica</a
    >.
  </p>
  <p>
    Приложение предназначено для создания, управления и выполнения различных
    тестов.
  </p>
</div>
