<div>
  <img src="avatar.jpg" alt="MyPhoto" style="align-items: center;
  display: flex;
  width: 300px;
  border-radius: 50%;
  margin: 15px auto;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);" />
</div>
<h1 style="text-align: center">Илья Палагуто</h1>
<p style="text-align: center">
  Всем привет! Я студент онлайн школы
  <a href="https://thinknetica.com" target="_blank" rel="nofollow, noopener"
    >Thinknetica</a
  >, и это мой первый проект в рамках курса
  <a
    href="https://thinknetica.com/ruby_on_rails"
    target="_blank"
    rel="nofollow, noopener"
    >Ruby on Rails</a
  >.
</p>
<div style="text-align: center">
  <a
    href="https://github.com/IlyaPalaguto"
    target="_blank"
    rel="nofollow, noopener"
    >GitHub</a
  >
  <a
    href="https://instagram.com/ilysha72"
    target="_blank"
    rel="nofollow, noopener"
    >Instagram</a
  >
</div>