<div class="col mt-3">
  <div class="card bg-light">
    <div class="card-body">
      <h5><%= link_to badge.title, admin_badge_path(badge), class: "card-title" %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= image_tag badge.image %></h6>

      <div class="list-group list-group-horizontal">
        <%= link_to t('edit'),
                    edit_admin_badge_path(badge),
                    class: 'list-group-item bg-secondary text-white' %>
        <%= link_to t('delete'),
                    admin_badge_path(badge),
                    method: :delete,
                    class: 'list-group-item bg-danger text-white' %>
      </div>
    </div>
  </div>
</div>
