<div class="col mt-3">
  <div class="card bg-light">
    <div class="card-body">
      <h5><%= link_to badge.title, admin_badge_path(badge), class: "card-title" %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= image_tag badge.image %></h6>
    </div>
  </div>
</div>
