<div class="row justify-content-center">
  <div class="col col-md-6">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th scope="col">Question</th>
          <th scope="col">Gist URL</th>
          <th scope="col">User</th>
        </tr>
      </thead>
      <tbody>
        <% @gists.each do |gist| %>
          <tr>
            <%= content_tag :td, sliced_question_body(gist.question.body) %>
            <td><%= link_to 'Git url', gist.url %></td>
            <%= content_tag :td, gist.user.email %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
