<li>
  <%= link_to answer.body, answer_path(answer) %>
  <%= button_to 'Редактировать', edit_answer_path(answer), method: :get %>
  <%= button_to 'Удалить', answer_path(answer), method: :delete %><br>
</li>
