.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.footer {
  margin-top: 45px;
  border-top: 1px solid gray;
  text-align: center;
  color: gray;
  a {
    color: gray;
    a:hover {
      color: gray;
    }
  }
}
