<h1>Количество доступных тестов: <%= @tests.count %></h1>

<%= link_to 'Создать новый тест', new_admin_test_path, class: 'btn btn-secondary mb-2' %>

<div class="row row-cols-3">
  <%= render @tests %>
</div>
