<% author = 'Ilya Palaguto' %>
<% repo = 'Test-app' %>
<div class="footer">
  <small>
    <p>
      Devoloped by <%= github_url(author) %> 
    </p>
    <p><%= current_year %></p>
    <p><%= github_url(author, repo) %></p>
    <p>
      Учебный проект в онлайн-школе <%= link_to 'Thinknetica', 'https://thinknetica.com/', target: '_blank'%>
    </p>
  </small>
</div>